.banner {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(49, 168, 221, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/banner.png");
}

.banner-content {
  width: 600px;
  margin: 40px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logo{
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 268px;
  height: 268px;
  margin: auto;
}

.logo img {
  margin: auto;

}

.banner-content h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.224;
  background: linear-gradient(rgba(51, 168, 219, 1), rgba(20, 114, 183, 1));
  -webkit-background-clip: text;
  color: transparent;
}

.banner-content p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.174;
}

.banner-content button {
  width: 20.37rem;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 0.21rem;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(rgba(51, 168, 219, 1), rgba(20, 114, 183, 1));
  -webkit-background-clip: text;
  color: transparent;
  padding: 1rem 2rem;
  margin: 1.5rem auto;
  border: 2px solid ;
  border-image-source: linear-gradient(rgba(51, 168, 219, 1), rgba(20, 114, 183, 1));
  border-image-slice: 10;
}
